<table class="table table-hover">
  <thead>
    <tr>
      <th>Course name</th>
      <th>School</th>
      <th>Course code</th>
      <th>Term</th>
      <th>Visibility</th>
    </tr>
  </thead>
  <tbody>
    {{#each courses}}
    <tr>
      <td>
        <a href="{{@root.canvas_root}}/courses/{{id}}" target="_blank">
          {{name}}
        </a>
      </td>
      <td>{{parseSchool account_id}}</td>
      <td>{{course_code}}</td>
      <td>{{parseTerm sis_course_id}}</td>
      <td>
        {{#if is_public}}
          Public
        {{else}}
          Institution
        {{/if}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
